.tab-menu {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-bottom: 0;
	padding-left: 0;
	li {
		list-style: none;
		min-width: 60px;
		margin-right: 6px;
		margin-bottom: 0;
		padding: 8px 6px;
		text-align: center;
		background-color: #007CBA;
		font-size: 16px;
		color: #FFF;
		cursor: pointer;
		transition: 0.5s;
		&:last-of-type {
			margin-right: 0px;
		}
	}
}

.wp-block-create-block-individual-tab {
		min-height: 200px;
		margin-top: 0;
		margin-bottom: 0;
		border:solid 1px #007CBA
}
