.tab-menu {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-bottom: 0;
	padding-left: 0;
	li {
		list-style: none;
		min-width: 100px;
		margin-right: 6px;
		padding: 8px 5px;
		text-align: center;
		background-color: #007CBA;
		color: #FFF;
		&:last-of-type {
			margin-right: 0px;
		}
	}
}

.tab-content {
	> div {
		min-height: 200px;
		border:solid 1px #007CBA
	}
}
